<div class="header d-flex flex-row justify-content-between align-items-center">
    <div>
        <!-- <button class="btn" mat-icon-button (click)="sidenav.toggle();">
          <mat-icon class="d-flex justify-content-center align-items-center">menu</mat-icon>
        </button> -->
        <span class="ps-2">Bluetooth ioT</span>
    </div>
    <div class="d-flex justify-content-center align-items-center">
        <button class="btn" mat-icon-button>
        <mat-icon class="d-flex justify-content-center align-items-center">person_outline</mat-icon>
      </button>
        <span>Perfil</span>
    </div>
</div>